# Ignore Visual Studio + build output
.vs/
*.suo
*.user
*.rsuser
*.userosscache
*.sln.docstates
[Bb]in/
[Oo]bj/
*.cache
*.log
*.trx
TestResults/
Packages/
packages/
# NuGet
*.nupkg
project.lock.json
# Rider
.idea/
# Windows
Thumbs.db
Desktop.ini
